{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load extra_filters %}
{% load attachments_tags %}

{% block title %}TP-{{ object.pk }}: {{ object.name }}{% endblock %}
{% block body_class %}cards-pf{% endblock %}

{% block contents %}
<div class="container-cards-pf">
    <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
    <h1 class="col-md-12" style="margin-top: 0">
        <span id="test_plan_pk"
              data-testplan-pk="{{ object.pk }}"
              data-perm-remove-tag="{{ perms.testplans.delete_testplantag }}"
        >TP-{{ object.pk }}:</span> {{ object.name }}
    </h1>
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="card-pf card-pf-accented">
                <div class="card-pf-body">
                    <div class="markdown-text">
                        {{ object.text|markdown2html }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="card-pf card-pf-accented card-pf-aggregate-status" style="text-align: left">
                <h2 class="card-pf-title">
                    <span class="fa pficon-user"></span>{% trans 'Author' %}:
                    <a href="{% url "tcms-profile" object.author.username %}">{{ object.author.username }}</a>
                </h2>

                <h2 class="card-pf-title">
                    <span class="fa fa-calendar"></span>{{ object.create_date }}
                </h2>

                <h2 class="card-pf-title">
                <span id="product_pk"
                      class="fa fa-shopping-cart"></span>{% trans 'Product' %}:
                    <a href="{% url "plans-search" %}?product={{ object.product_id }}"
                       title="Search plans of {{ object.product }} ">{{ object.product }}</a>
                </h2>

                <h2 class="card-pf-title">
                    <span class="fa fa-random"></span>{% trans 'Version' %}:
                    {{ object.product_version.value }}
                </h2>

                <h2 class="card-pf-title">
                    <span class="fa fa-cube"></span>{% trans 'Plan Type' %}:
                    {{ object.type.name  }}
                </h2>

                <h2 class="card-pf-title">
                    <span class="fa fa-arrow-circle-o-up"></span>{% trans 'Parent' %}:
                    {% if object.parent.pk %}
                        <a href="{% url 'test_plan_url_short' object.parent.pk %}">TP-{{ object.parent.pk }}</a>
                    {% else %}
                        -
                    {% endif %}
                </h2>

                <h2 class="card-pf-title">
                    <span class="fa fa-link"></span>{% trans 'Reference link' %}:
                    {% if object.extra_link %}
                        <a href="{{ object.extra_link }}">{{ object.extra_link }}</a>
                    {% else %}
                        -
                    {% endif %}
                </h2>
                <div class="card-pf-body"></div>
            </div>
        </div>
    </div>
    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="card-pf card-pf-accented">
                <h2 class="card-pf-title">
                    {% trans 'Confirmed test cases' %}
                </h2>
                <div class="card-pf-body">
                    <div id="confirmed-testcases" class="list-group tree-list-view-pf"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cards-pf">
        <div class="col-xs-12 col-sm-6 col-md-3">
            {% include 'include/tags_card.html' with add_perm=perms.testcases.add_testcasetag %}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'include/attachments.html' %}
        </div>
    </div>
</div>

<template id="no_test_cases">
    <div class="list-group-item">
        <div class="list-group-item-header">
            <div class="list-view-pf-main-info">{% trans 'No records found' %}</div>
        </div>
    </div>
</template>

<template id="test_case_row">
    <div class="list-group-item">
        <div class="list-group-item-header">
            <div class="list-view-pf-main-info">
                <div class="list-view-pf-left">
                    <span class="fa fa-angle-right"></span>
                </div>
                <div class="list-view-pf-checkbox" style="margin-top: 0; margin-bottom: 0">
                    <input type="checkbox">
                </div>
                <div class="list-view-pf-actions" style="margin-top: 0; margin-bottom: 0;">
                    <div class="dropdown pull-right dropdown-kebab-pf">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-ellipsis-v"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                            <li><a href="#">{% trans 'Change status' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="list-view-pf-body">
                    <div class="list-view-pf-description">
                        <div class="list-group-item-text">
                             <a class="js-test-case-link"></a>
                         </div>
                    </div>
                    <div class="list-view-pf-additional-info">
                        <div class="list-view-pf-additional-info-item">
                            <span class="fa fa-cog fa-thumbs-up js-test-case-automated" data-true="{% trans 'Automated' %}" data-false="{% trans 'Manual' %}"></span>{# one of the classes is removed by the js #}
                        </div>
                        <div title="{% trans 'Priority' %}" class="list-view-pf-additional-info-item">
                            <span class="fa fa-hourglass"></span>
                            <span class="js-test-case-priority"></span>
                        </div>
                        <div title="{% trans 'Category' %}" class="list-view-pf-additional-info-item">
                            <span class="fa fa-tag"></span>
                            <span class="js-test-case-category"></span>
                        </div>
                        <div title="{% trans 'Author' %}" class="list-view-pf-additional-info-item">
                            <span class="fa pficon-user"></span>
                            <span class="js-test-case-author"></span>
                        </div>
                        <div title="{% trans 'Default tester' %}" class="list-view-pf-additional-info-item">
                            <span class="fa fa-search"></span>
                            <span class="js-test-case-tester"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item-container container-fluid hidden">
            <div class="row">
                <div class="col-md-12">Some test case widgets</div>
            </div>
        </div>
    </div>
</template>

<script src="{% static 'typeahead.js/dist/typeahead.jquery.min.js' %}"></script>

<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/jsonrpc.js' %}"></script>
<script src="{% static 'js/tags.js' %}"></script>
<script src="{% static 'testplans/js/get.js' %}"></script>
{% endblock %}
