[run]
branch = True

[report]
#show_missing = True
omit =
    .tox/*
    */tests.py
    */tests/test_*.py
    */migrations/*.py
    tcms/wsgi.py
    tcms/settings/*.py
    tcms/tests/*.py
    */urls.py
    */urls/*.py
