env.sh
*.pyc
*.swp
*~
tcms/dev.db
tcms/dev_settings.py
tcms/settings/dev_settings.py
tcms/run.sh
tcms/mysettings.py
tcms/toys.py
docs/guide/target
.gitignore
tags
.tags
dist/
build/
*egg*/
docs/target/
