*.pyc
*.swp
*egg*/
*~
.coverage
.gitignore
.idea
.tags
.vagrant/
TAGS
build/
dist/
docs/source/modules.rst
docs/source/manage.rst
docs/source/setup.rst
docs/source/tcms.*rst
docs/source/tcms_api.*rst
docs/source/*.dot
docs/guide/target
docs/target/
env.sh
tags
tcms/dev.db
tcms/dev_settings.py
tcms/mysettings.py
tcms/run.sh
tcms/settings/dev_settings.py
tcms/settings/local.py
tcms/toys.py
cover-report/
htmlcov/
.cache/
install/
node_modules/
