*.pyc
*.swp
*egg*/
*~
.coverage
.gitignore
.idea
.tags
.vagrant/
TAGS
build/
dist/
docs/guide/target
docs/target/
env.sh
tags
tcms/dev.db
tcms/dev_settings.py
tcms/mysettings.py
tcms/run.sh
tcms/settings/dev_settings.py
tcms/settings/local.py
tcms/toys.py
cover-report/
