include AUTHORS CHANGELOG.rst README.rst LICENSE
include nitrate.spec Makefile Vagrantfile

graft contrib
graft requirements
graft tcms/locale
graft tcms/static
graft tcms/templates

include docs/Makefile
graft docs/source
