include AUTHORS CHANGELOG.rst README.rst LICENSE VERSION.txt
include nitrate.spec Makefile
recursive-include tcms/templates *
recursive-include tcms/static *
recursive-include contrib *
recursive-include docs *
recursive-include requirements *
recursive-exclude docs/target *
