{% load static %}

<script type="text/javascript" charset="utf-8">
    // GLOBALS
    var grappelli = {},
        ADMIN_URL = "/admin/",
        MODEL_URL_ARRAY = [],
        DATE_FORMAT = "%Y-%m-%d",
        TIME_FORMAT = "%H:%M:%S",
        DATETIME_FORMAT = "%Y-%m-%d %H:%M:%S";
</script>

<script src="{% static 'moment/min/moment-with-locales.min.js' %}"></script>

<script src="{% static 'eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>


<script src="{% static 'html5sortable/dist/html5sortable.min.js' %}"></script>
<script src="{% static 'typeahead.js/dist/typeahead.jquery.min.js' %}"></script>

<script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>


<script src="{% static "grappelli/jquery/jquery.js" %}" type="text/javascript"></script>

<script src="{% static "grappelli/jquery/ui/jquery-ui.min.js" %}"></script>

<script src="{% static "grappelli/js/grappelli.js" %}" type="text/javascript"></script>
<script src="{% static "admin/js/admin/RelatedObjectLookups.js" %}" type="text/javascript"></script>

<script src="{% static 'js/jsonrpc.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/pagination.js' %}"></script>


