{% load static %}
    <!-- PatternFly Styles -->
    <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly.min.css' %}">
    <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly-additions.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'style/patternfly_override.css' %}">
    <link rel="stylesheet" href="{% static 'style/codehilite.css' %}">

    <!-- JS -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables.net-select/js/dataTables.select.min.js' %}"></script>

    <!-- export buttons for tables -->
    <script src="{% static 'datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'patternfly/dist/js/patternfly.min.js' %}"></script>
