{% load static %}
    <!-- PatternFly Styles -->
    <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly.min.css' %}">
    <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly-additions.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/patternfly_override.css' %}">
    <link rel="stylesheet" href="{% static 'style/codehilite.css' %}">

    <!-- JS -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'patternfly/dist/js/patternfly.min.js' %}"></script>
