{% load static %}
    <!-- PatternFly Styles -->
    <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly.min.css' %}">
    <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly-additions.min.css' %}">

    <!-- JS -->
    <script src="{% static 'patternfly/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'patternfly/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'patternfly/dist/js/patternfly.min.js' %}"></script>
