{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block subtitle %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Language" content="utf-8" />

	<link rel="stylesheet" type="text/css" href="{% static 'style/jquery/ui/cupertino/jquery-ui-1.8.20.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'style/print.css' %}" media="print" />
	{% block custom_stylesheet %}{% endblock %}
	<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/lib/jquery-1.7.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/jquery-ui-1.8.20.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/handlebars-1.3.0.min.js' %}"></script>
	<script type="text/javascript" language="javascript" charset="utf-8">
		jQuery.noConflict();
		var jQ = jQuery.noConflict();
		// Top level namespace
		window.Nitrate = {};
	</script>
	<script type="text/javascript" src="{% static 'js/lib/jquery.shiftcheckbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tcms_actions.js' %}"></script>

	{% block custom_javascript %}{% endblock %}
	<script type="text/javascript">
	{% if request.user.is_authenticated %}
	Nitrate.User = {
		pk: {{ request.user.pk }},
		username: '{{ request.user.username }}',
		email: '{{ request.user.email }}',
	};
	{% else %}
	Nitrate.User = {
		pk: null,
		username: 'anonymous',
		email: 'anonymous@anywhere.com',
	};
	{% endif %}
	</script>
		{% block extra_head %}{% endblock %}
</head>
<body id="body">
    <iframe src="{% url 'iframe-navigation' %}" width="100%" height="205px" scrolling="no" frameBorder="0"></iframe>

    {% block contents %}{% endblock %}
    <div id="dialog" style="display:none"><div class="ajax_loading"></div></div>
</body>
</html>
