{% load cache %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{% block subtitle %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Language" content="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'style/jquery/ui/cupertino/jquery-ui-1.8.20.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'style/print.css' %}" media="print" />
	{% block custom_stylesheet %}{% endblock %}
	<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/lib/jquery-1.7.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/jquery-ui-1.8.20.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib/handlebars-1.3.0.min.js' %}"></script>
	<script type="text/javascript" language="javascript" charset="utf-8">
		jQuery.noConflict();
		var jQ = jQuery;
		{% if SETTINGS.ENABLE_PIWIK_TRACKING %}
		// jQuery global ajax event handler for Piwik
				jQ(document).ajaxSend(function(event, jqxhr, settings){
						if (window.Piwik) {
								var piwikTracker = Piwik.getAsyncTracker();
								var u=(("https:" == document.location.protocol) ? "https" : "http") + "://";
								piwikTracker.setSiteId({{ SETTINGS.PIWIK_SITE_ID }});
								piwikTracker.setTrackerUrl(u+"{{SETTINGS.PIWIK_SITE_API_URL}}");
								piwikTracker.setDocumentTitle("Kiwi TCMS ajax request");
								piwikTracker.setCustomUrl(settings.url);
								piwikTracker.trackPageView();
						}
				});
				{% endif %}
		// Top level namespace
		window.Nitrate = {};
	</script>
	<script type="text/javascript" src="{% static 'js/lib/jquery.shiftcheckbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tcms_actions.js' %}"></script>

	{% block custom_javascript %}{% endblock %}
		{% if SETTINGS.ENABLE_PIWIK_TRACKING %}
		<script type="text/javascript">
				// Prototype global ajax event handler for Piwik
				Ajax.Responders.register({
						onCreate: function(request, xhr) {
								if (window.Piwik) {
										var piwikTracker = Piwik.getAsyncTracker();
										var u=(("https:" == document.location.protocol) ? "https" : "http") + "://";
										piwikTracker.setSiteId({{ SETTINGS.PIWIK_SITE_ID }});
										piwikTracker.setTrackerUrl(u+"{{SETTINGS.PIWIK_SITE_API_URL}}");
										piwikTracker.setDocumentTitle("[Ajax] " + request.parameters.content_type);
										piwikTracker.setCustomUrl(request.url.strip());
										piwikTracker.trackPageView();
								}
						}
				});
		</script>
		{% endif %}
	<script type="text/javascript">
	{% if request.user.is_authenticated %}
	Nitrate.User = {
		pk: {{ request.user.pk }},
		username: '{{ request.user.username }}',
		email: '{{ request.user.email }}',
	};
	{% else %}
	Nitrate.User = {
		pk: null,
		username: 'anonymous',
		email: 'anonymous@anywhere.com',
	};
	{% endif %}
	</script>
		{% if SETTINGS.ENABLE_PIWIK_TRACKING %}
		<!-- Piwik -->
		<script type="text/javascript">
				var _paq = _paq || [];
				_paq.push(["trackPageView"]);
				_paq.push(["enableLinkTracking"]);

				(function() {
				var u=(("https:" == document.location.protocol) ? "https" : "http") + "://";
				_paq.push(["setTrackerUrl", u+"{{SETTINGS.PIWIK_SITE_API_URL}}"]);
				_paq.push(["setSiteId", "{{ SETTINGS.PIWIK_SITE_ID }}"]);
				var d=document, g=d.createElement("script"),
				s=d.getElementsByTagName("script")[0];
				g.type="text/javascript"; g.defer=true; g.async=true;
				g.src=u+"{{SETTINGS.PIWIK_SITE_JS_URL}}";
				s.parentNode.insertBefore(g,s);
				})();
		</script>
		<!-- End Piwik Code -->
		{% endif %}
		{% block extra_head %}{% endblock %}
</head>
<body id="body">
	<div id="header">
                <div class="logo">
                    <a href="{% url "core-views-index" %}"><img src="{% static 'images/kiwi_h50.png' %}" alt="logo" /></a>
                </div>
		<div class="absoluteright">
		<label>
			{% if user.is_authenticated %}
			<a href="{% url "tcms-profile" user.username %}">Welcome, {{ user }}</a>
			{% if AUTH_BACKEND.can_logout %}
			<span>[</span><a href="{% url "tcms-logout" %}?next={{ request.path }}">Logout</a><span>]</span>
			{% endif %}
			{% else %}
			Welcome, Guest.
			[
			{% if AUTH_BACKEND.can_login %}
			<a href="{% url "tcms-login" %}?next={{ request.path }}" class="banner_login">Login</a>
			{% endif %}
			{% if AUTH_BACKEND.can_register %}
			<a href="{% url "tcms-register" %}?next={{ request.path }}" class="banner_login">Register</a>
			{% endif %}
			]
			{% endif %}
			<a class="sprites userguide" href="{{ SETTINGS.USER_GUIDE_URL }}" target="_blank">User Guide</a>
		</label>
		{% if user.is_authenticated %}
		<form id="id_bookmark_iform" action="{% url "tcms-bookmark" user.username %}" method="get">
			<input type="hidden" name="a" value="render_form" />
			<input type="hidden" name="user" value="{{ request.user.pk }}" />
			<input type="hidden" name="site" value="{{ SETTINGS.SITE_ID }}" />
			{% block content_type %}{% endblock %}
			<input type="submit" value="Bookmark this page" class='sprites bookmark' />
		</form>
		{% endif %}
		</div>
		{% include 'menu.html' %}

	</div>
	{% block contents %}{% endblock %}
	<div id="dialog" style="display:none"><div class="ajax_loading"></div></div>
	{% cache 600 footerbar%}
	<div id="footer">
		{% if SETTINGS.FOOTER_LINKS %}
		<div class="footercontent">
			{% for link in SETTINGS.FOOTER_LINKS %}
			<a href="{{ link.0 }}">{{ link.1 }}</a>{% if not forloop.last %}|{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div class="center"><span>Kiwi TCMS {{ SETTINGS.KIWI_VERSION }}</span></div>
	</div>
	{% endcache %}

	<script type="text/javascript">
		jQ(window).bind('load', function() {
			jQ('#js-execute-search').bind('click', function() {
			  jQ('#search_content').val() === '' || this.form.submit();
			});
		});
	</script>
</body>
</html>
