/* override some default Patternfly styles */
nav.navbar-default { border-top-color: #3C8D2C; }

.login-pf, .login-pf body {
    background-attachment: fixed;
    background-image: url("../images/header-pattern.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}


/* continue with styles for Kiwi TCMS */

/* todo: used in form error messages, can be improved */
.errorlist { background: #AF2B2B; border:1px solid #6F1B1B; color:#FFF; font-weight:bold; }

/* typeahead.js styling for autocomplete */
.tt-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 8px;
    width: 200px;
}

.tt-suggestion.tt-cursor {
    background-color: #0088ce;
    color: #fff;
}

.markdown-text table {
    margin-bottom: 8px;
}

.markdown-text table td,
.markdown-text table th {
    border: 1px solid #ccc;
    padding: 5px;
}

@media print {
    a[href]:after {
        display: none !important;
    }
}
