<div class="leftlistinfo">
    <div class="listinfo">
        <span class="title"><label>Case Summary</label></span>
        <span class="listinfo_input"><input type="text" /></span>
    </div>
    <div class="listinfo">
        <span class="title"><label >Author</label></span>
        <span class="listinfo_input"><input type="text" /></span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_author">Case default tester</label></span>
        <span class="listinfo_input"><input type="text" /></span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_type_id">Category</label></span>
        <span class="listinfo_input"><input type="text" /></span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_tag">Tag</label></span>
        <span class="listinfo_input">  <input type="text" /></span>
    </div>
    
    
</div>
<div class="rightlistinfo">
    <div class="listinfo">
        <span class="title"><label for="id_product_id">Product</label></span>
        <span class="listinfo_input"><select><option>-------</option><option>RHEL6</option></select></span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_env_group_id">Component</label></span>
            <span class="listinfo_input"><select><option>-------</option><option>KVM</option></select></span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_version_id">Priority</label></span>
           <span class="listinfo_input"> <input type="checkbox" checked="checked"/>P1<input type="checkbox"/>P2<input type="checkbox"/>P3<input type="checkbox" />P4<input type="checkbox"/>P5</span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_creation_date_start">Bug ID:</label></span>
        <span class="listinfo_input" id=creation_sdate><input type="text" /></span>
    </div>
    <div class="listinfo">
        <span class="title"><label for="id_is_active">Automated</label></span>
        <span class="listinfo_input"> <input type="text" /></span>
    </div>
   
    <div class="listinfo">
        <span class="title">{{ search_plan_form.errors }}</span>
    </div>
</div>
<div class="clear"></div>
