.table-with-horizontal-scroll {
    display: block;
    overflow-x: auto;
    white-space: normal;
}

thead {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

.header-test-run {
    white-space: nowrap;
}
