{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Execution trends" %}{% endblock %}

{% block contents %}

    <div class="container-fluid container-cards-pf">
        {% include "telemetry/include/filters.html" %}

        <div id="chart"></div>
    </div>

    <script src="{% static 'c3/c3.min.js' %}"></script>
    <script src="{% static 'd3/d3.min.js' %}"></script>

    <script src="{% static 'js/jsonrpc.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

    <script src="{% static 'telemetry/js/testing/utils.js' %}"></script>
    <script src="{% static 'telemetry/js/testing/execution-trends.js' %}"></script>

{% endblock %}
