<form id="plans_form">
	<table id="testplans_table" class="list border-bottom" cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed;">
		<thead>
			<tr>
				<th class="number nosort widthID" title="Sort by plan ID">ID</th>
				<th class="text nosort" title="Sort by plan name">Name</th>
				<th width="100" class="text nosort" title="Sort by author">Author</th>
				<th width="100" class="text nosort" title="Sort by owner">Owner</th>
				<th width="180" class="text nosort" title="Sort by product name" id="col_product_head">Product</th>
				<th width="120" class="nosort" title="Sort by product version" style="display:none" id="col_product_version_head"><span></span>Product Version</th>
				<th width="140" class="text nosort" title="Sort by plan type">Type</th>
				<th width="50" class="number nosort" title="Sort by number of test cases">Cases</th>
				<th width="40" class="number nosort" title="Sort by number of test runs">Runs</th>
				<th class="nosort" width="80"><span></span>Actions</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</form>
