{% load i18n %}

<li class="{{ first_class }}" data-filter-type="summary"><a href="#">{% trans 'Summary' %}</a></li>
<li data-filter-type="case_status"><a href="#">{% trans 'Status' %}</a></li>
<li data-filter-type="is_automated"><a href="#">{% trans 'Automated' %}</a></li>
<li data-filter-type="priority"><a href="#">{% trans 'Priority' %}</a></li>
<li data-filter-type="category"><a href="#">{% trans 'Category' %}</a></li>
<li data-filter-type="author"><a href="#">{% trans 'Author' %}</a></li>
<li data-filter-type="default_tester"><a href="#">{% trans 'Default tester' %}</a></li>
<li data-filter-type="reviewer"><a href="#">{% trans 'Reviewer' %}</a></li>
