{% load i18n %}

<li class="{{ first_class }}" data-filter-type="summary"><a>{% trans 'Summary' %}</a></li>
<li data-filter-type="case_status"><a>{% trans 'Status' %}</a></li>
<li data-filter-type="is_automated"><a>{% trans 'Automated' %}</a></li>
<li data-filter-type="priority"><a>{% trans 'Priority' %}</a></li>
<li data-filter-type="category"><a>{% trans 'Category' %}</a></li>
<li data-filter-type="author"><a>{% trans 'Author' %}</a></li>
<li data-filter-type="default_tester"><a>{% trans 'Default tester' %}</a></li>
<li data-filter-type="reviewer"><a>{% trans 'Reviewer' %}</a></li>
