[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
character-set-server = utf8mb4
character_set_server = utf8mb4
collation-server = utf8mb4_unicode_ci
collation_server = utf8mb4_unicode_ci
