<table id="testruns_table" class="list border-bottom js-advance-search-runs" cellpadding="0" cellspacing="0" border="0">
	<thead>
		<tr >
			<th class="widthID"><a href="{{query_url}}&order_by=run_id" title="Sort by Run ID">ID</a></th>
			<th><a href="{{query_url}}&order_by=summary" title="Sort by Summary">Summary</a></th>
			<th width="80"><a href="{{query_url}}&order_by=manager__username" title="Sort by Manager Name">Manager</a></th>
			<th width="100"><a href="{{query_url}}&order_by=default_tester__username" title="Sort by Default Tester">Default Tester</a></th>
			<th class="text" style="display:none" id="col_plan_head" ><a href="{{query_url}}&order_by=plan__name" title="Sort by Plan">Plan</a></th>
			<th width="130"><a href="{{query_url}}&order_by=plan__product__name" title="Sort by Product">Product</a></th>
			<th width="120"><a href="{{query_url}}&order_by=product_version" title="Sort by Product Version">Product version</a></th>
			<th width="100" title='Plan Environment Group'><a href="{{query_url}}&order_by=environment_id" title="Sort by Environment">Environment</a></th>
			<th width="40"><a href="{{query_url}}&order_by=total_num_caseruns" title="Sort by Cases">Cases</a></th>
			<th width="80">Status</th>
			<th width="110">Completed %</th>
		</tr>
	</thead>
	<tbody>
		{% for test_run in test_runs %}
		<tr class="{% cycle 'rowodd' 'roweven' %}" id="run_{{test_run.run_id}}">
			<td><a href="{% url "testruns-get" test_run.run_id %}" >{{ test_run.run_id }}</a></td>
			<td><a href="{% url "testruns-get" test_run.run_id %}" >{{ test_run.summary }}</a></td>
			<td><a href="{% url "tcms-profile" test_run.manager.username %}">{{ test_run.manager }}</a></td>
			<td>{% if test_run.default_tester_id %}<a href="{% url "tcms-profile" test_run.default_tester.username %}">{% endif %}{{ test_run.default_tester }}{% if test_run.default_tester_id %}</a>{% endif %}</td>
			<td style="display:none" class="col_plan_content"><a href="{{ test_run.plan.get_full_url }}" >{{ test_run.plan }}</a></td>
			<td>{{ test_run.build.product }}</td>
			<td>{{ test_run.product_version }}</td>
			<td>{{ test_run.env_values_str }}</td>
			<td>{{ test_run.total_num_caseruns }}</td>
			<td>
				{% if test_run.stop_date %}
				<span class="pauselink">Finished</span>
				{% else %}
				<span class="runninglink">Running</span>
				{% endif %}
			</td>
			<td>
                            {% include "run/status_progress.html" with status_stats=test_run.stats_caseruns_status %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
