{% extends "tcms_base.html" %}
{% load i18n %}
{% block subtitle %}Nitrate{% endblock %}
{% block custom_stylesheet %}
{% endblock %}
{% block custom_javascript %}
	<script type="text/javascript" src='{{ STATIC_URL }}js/index.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}js/footer_at_the_end.js'></script>
{% endblock %}

{% block contents %}
<div id="content">
	<div id="index" >
		<br clear="all">
		<div class="login radius">
			<form id="id_register_form" action="{% url "django.contrib.auth.views.password_reset" %}" method="POST">
				{% csrf_token %}
				<table border="0" cellpadding="10" cellspacing="10" class="login_table">
					<tr>
						<td>
							<label for="id_email">{% trans 'E-mail address:' %}</label> 
						</td>
						<td>
							{{ form.email }}
							{{ form.email.errors }}
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td colspan="" class="submit">
							<input type="hidden" name="next" value="{{ REQUEST_CONTENTS.next }}" />
							<input type="submit" value="Reset my password" class="loginbutton sprites" />
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock %}
