{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}{% url "django-admindocs-docroot" as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block subtitle %}{% trans 'Password change successful' %}{% endblock %}

{% block contents %}
<div class='clear'></div>
<div class='boxnotype'>
<div class='boxtitle'>{% trans 'Password change successful' %}</div>

<p class='margin-top marginLeft'>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
