{% load comments %}
{% load redhat_urlize %}

{% get_comment_list for object as comment_list %}
<ul class="ul-no-format comment">
		{% for comment in comment_list %}
		<li>
			<span class="strong">{{ comment.user.email }}</span>
			<span class="grey">{{ comment.submit_date }}</span>
			{% ifequal comment.user user %}
			<form action="{% url "tcms.core.contrib.comments.views.delete" %}" method="get">
				<input type="hidden" name="comment_id" value="{{ comment.id }}" />
				<a class="commentdelete sprites" href="javascript:void(0)" ></a>
			</form>
			{% endifequal %}
			<br/>
			<pre>{{ comment.comment|redhat_urlize|linebreaksbr }}</pre>
		</li>
		{% endfor %}
</ul>
