{% load i18n %}
{% load static %}

{% if not is_ajax %}
	<ul style="margin:0px;" class="js-cc-ul">
	{% for cc in test_run.cc.select_related.all %}
	<li>
            <a href="{% url "tcms-profile" cc.username %}">{{ cc.username }}</a>
		{% if perms.testruns.delete_testruncc %}
                <a href="javascript:void(0)" class="js-remove-cc" data-params='[{{ test_run.pk }}, "{{ cc.username }}"]'><img src="{% static 'images/remove_small.png' %}" width="9" height="9" title="{% trans "remove this tag" %}" /></a>
		{% endif %}
	</li>
	{% endfor %}
	</ul>

<div><a class="addlink js-add-cc" href="javascript:void(0)" data-param="{{ test_run.pk }}">{% trans "Add CC" %}</a></div>

	{% if message %}
		<div id="message" class="hidden">{{ message }}</div>
	{% endif %}
{% else %}
	{% if message %}
	<div id="message" class="hidden">{{ message }}</div>
	{% endif %}
	{% for cc in test_run.cc.select_related.all %}
	<li>
		<a href="{% url "tcms-profile" cc.username %}">{{ cc.username }}</a>
		{% if perms.testruns.delete_testruncc %}
                <a href="javascript:void(0)" class="js-remove-cc" data-params='[{{ test_run.pk }}, "{{ cc.username }}"]'><img src="{% static 'images/remove_small.png' %}" width="9" height="9" title="{% trans "remove this tag" %}" /></a>
		{% endif %}
	</li>
	{% endfor %}
{% endif %}
