{% load i18n %}
{% load static %}

<div class="statu" style="float:left;" >
	{% include "run/status_progress.html" %}
	<ul class="count-per-status-container">
		<li>
			<label>{% trans "TOTAL" %}</label>
			[<a href="#" class="js-caserun-total"></a>]
		</li>
	</ul>
	<div class="clear"></div>
	<ul>
		<li style="background:url({% static 'images/btn_bg_report.png' %}) no-repeat; height:25px; line-height:25px; width:57px; padding-left:30px; margin-right:15px;"><a href="{% url "run-report" test_run.pk %}" title="report of test caserun">{% trans "Report" %}</a></li>
		<li style="background:url({% static 'images/btn_bg_showbug.png' %}) no-repeat; height:25px; line-height:25px; width:133px; padding-left:30px;">
		{% ifnotequal execution_bugs_count 0 %}
			<span id="total_run_bug_count"><a href="{% url "run-report" test_run.pk %}#buglist" title="Show All Bugs">{% trans "Bugs" %} [{{ execution_bugs_count }}]</a></span>
		{% else %}
			<span id="total_run_bug_count"><a>{% trans "No Bugs" %}</a></span>
		{% endifnotequal %}
		</li>
	</ul>
</div>
