{% load pagination_tags %}
{% load static %}

<script type="text/javascript" src="{% static 'js/testrun_actions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/management_actions.js' %}"></script>
<script type="text/javascript">
	Nitrate.Utils.after_page_load(Nitrate.TestRuns.List.on_load);
</script>
	{% autopaginate test_runs %}
	<div id="contentTab" class="mixbar">
		<span class="tit"><a href="{% url "testruns-all" %}?case_run__assignee={{ user.username }}">View My Assigned Runs</a></span>
		<span class="right-action">{% paginate %}</span>
	</div>
	{% include "run/common/run_advance_filtered.html" %}
	{% paginate %}
