{% load pagination_tags %}

<script type="text/javascript" src='{{ STATIC_URL }}js/testrun_actions.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/management_actions.js'></script>
<script type="text/javascript">
	Nitrate.Utils.after_page_load(Nitrate.TestRuns.List.on_load);
</script>
<form id='runs_form'>
	{% autopaginate test_runs %}
	<div id="contentTab" class="mixbar">
		<span class="tit"><a href="{% url "testruns-all" %}?case_run__assignee={{ user.email }}">View My Assigned Runs</a></span>
		<input type="button" value="Clone" title="clone selected test runs" class="js-clone-testruns" data-param="{% url "testruns-clone" %}" />
		<span class="right-action">{% paginate %}</span>
	</div>
	{% include "run/common/run_advance_filtered.html" %}
	{% paginate %}
</form>
