{% extends "tcms_base.html" %}
{% load static %}

{% block subtitle %}Test cases{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{% static 'js/lib/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/testplan_actions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/testcase_actions.js' %}"></script>
<script type="text/javascript">
	Nitrate.TestCases.List.Param = {
		'case_printable': '{% url "testcases-printable" %}'
	};
Nitrate.Utils.after_page_load(Nitrate.TestCases.List.on_load);
</script>
{% endblock %}
{% block contents %}
<div id="content">
	<form action="{% url "testcases-search" %}" method="get">
		<div id="itemSearch" class="itemSearch">
			<h2>Search Case</h2>
			{% include "case/form/search.html" %}
			<div class='clear'></div>
			<div class="errors">{{ search_form.errors }}</div>
			<div class="bottom" >
				<input type="submit" size="7" name="a" value="search" name="" title="Search test case" class="left_float" />
				<input type="reset" size="7" value="Reset" name="" title="Reset the search keyword" class="left_float" />
			</div>
		</div>
	</form>
	<!--case list-->
    {% if REQUEST_CONTENTS %}
	    {% include "case/common/case_filtered.html" %}
    {% endif %}
</div>
{% endblock %}
