{% load i18n %}
<label class="sd" for="id_plan_id">{% trans "Plan" %}</label>

{{ testplan.name }}
<table class="list border-1" cellpadding="0" cellspacing="0">
<tr>
    <th width="3%">&nbsp;</th>
    <th class="widthID">{% trans "Plan Summary" %}</th>
    <th width="8%">{% trans "Plan Type" %}</th>
    <th width="8%">{% trans "Author" %}</th>
    <th width="8%">{% trans "Is Active" %}</th>
</tr>
{% for test_plan in test_plans %}
<tr class="{% cycle 'odd' 'even' %}">
    <td align="center"><input type="checkbox" name="plan" value="{{ test_plan.plan_id }}" /></td>
    <td><a href="{% url 'test_plan_url_short' test_plan.pk %}" target="_blank">TP-{{ test_plan.pk }} - {{ test_plan }}</a></td>
    <td>{{ test_plan.type }}</td>
    <td>{{ test_plan.author }}</td>
    <td>{% if test_plan.is_active %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</td>
</tr>
{% empty %}
<tr><td>&nbsp;</td><td colspan="5">{% trans "There are no plans" %}</td></tr>
{% endfor %}

</table>
