{% extends "tcms_base.html" %}
{% load i18n %}
{% load static %}
{% block subtitle %}Clone Test Case{% endblock %}
{% block custom_stylesheet %}
{% endblock %}
{% block custom_javascript %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/jsonrpc.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>

<script type="text/javascript" src="{% static 'js/testcase_actions.js' %}"></script>
<script type="text/javascript">
Nitrate.Utils.after_page_load(Nitrate.TestCases.Clone.on_load);
</script>
{% endblock %}
{% block contents %}
<div id="content">
	<h2>{% trans "Clone TestCase(s) into" %} TP-{{ test_plan.pk }}: {{ test_plan.name }}</h2>
	<div class="Detailform border-1">
		<div class="editor" cellspacing="0" cellspan="0">
			<form id="id_clone_form" action="{% url "testcases-clone" %}" method="post">
				{{ form.case_id }}
				<div class="listinfo">
					<label class="strong title"></label>
					<input id="id_plan_id" type="hidden" name="plan" value="{{ test_plan.pk }}" />
				</div>
				<div class="listinfo">
                                    <label class="strong title">{% trans "Case(s)" %}</label>
					<div class="linotype">{{ clone_form.case }}</div>
				</div>
				<div class="listinfo">
                                    <label class="strong title">{% trans "Clone Settings" %}</label>
					<fieldset class="choose">
                                            <legend class="">{% trans "Case Properties" %}</legend>
						<ul class="ul-no-format">
							<li>
								{{ clone_form.maintain_case_orignal_author }}
								<span>
									<label for="orignal_author">{{ clone_form.maintain_case_orignal_author.help_text }}</label>
								</span>
							</li>
							<li>
								{{ clone_form.maintain_case_orignal_default_tester }}
								<span>
									<label for="id_maintain_case_orignal_default_tester">{{ clone_form.maintain_case_orignal_default_tester.help_text }}</label>
								</span>
							</li>
							<li>
								{{ clone_form.copy_component }}
								<span>
									<label for="id_copy_component">{{ clone_form.copy_component.help_text }}</label>
								</span>
							</li>
						</ul>
					</fieldset>
				</div>
				<div class="submit-row">
					<input type="hidden" name="from_plan" value="{{ test_plan.pk }}"/>
					<input type="submit" name="submit" value="Clone" />
					<input type="button" value="Cancel" class="js-cancel-button"/>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
