{% load redhat_urlize %}
<td colspan='12'>
	<h4>Notes:</h4>
	{{ test_caserun.notes|redhat_urlize|linebreaksbr }}
	<h4>Comments:</h4>
	<ul class="comment ul-no-format">
		{% for comment in comments %}
		<li>
			<span class="strong">#{{ forloop.counter }}</span>
			<span class="strong">{{ comment.user__email }}</span>
			<span class="grey">{{ comment.submit_date }}</span><br/>
			{{ comment.comment|redhat_urlize|linebreaksbr }} 
		</li>
		{% empty %}
		<li class="grey" style='border:none;margin:0px;padding:0px'>No comments found.</li>
		{% endfor %}
	</ul>

	<h4>Change Log:</h4>
	<ul>
		{% for log in logs %}
		<li>[{{ log.date }}] - [{{ log.who__username }}] - {{ log.action }}</li>
		{% empty %}
		<li class="grey">No log found.</li>
		{% endfor %}
	</ul>
</td>
