{% load extra_filters %}
<table width="100%">
	<tr>
		<td colspan="2">
			<span class="right-bar">
				<a href="{% url "testcases-text_history" test_case.case_id %}?from_plan={{ testplan.plan_id }}" class="historylink">
					View edit history(Current in version {{ test_case_text.case_text_version }})
				</a>
			</span>
		</td>
	</tr>
	<tr>
		<td valign="top" >
			<h4>Setup:</h4>
			<div class="casedoc">{{ test_case_text.setup|markdown2html }}</div>
		</td>
		<td valign="top" >
			<h4>Breakdown:</h4>
			<div class="casedoc">{{ test_case_text.breakdown|markdown2html }}</div>
		</td>
	</tr>
	<tr>
		<td valign="top">
			<h4>Actions:</h4>
			<div class="casedoc">{{ test_case_text.action|markdown2html }}</div>
		</td>
		<td valign="top" >
			<h4>Expected Results:</h4>
			<div class="casedoc">{{ test_case_text.effect|markdown2html }}</div>
		</td>
	</tr>
</table>
