{% load i18n %}
<div class="mixbar">
	<div class="marginLeft fixed">
            <input id="js-add-child-node" class="add_node icon_plan left_float" type="button" value="{% trans "Add child node to current plan" %} {{ test_plan.pk }}" />
		<input id="js-remove-child-node" class="remove_node icon_plan left_float" {% if not test_plan.child_set.exists %}disabled{% endif %} type="button" 
                    value="{% trans "Remove child node from current plan" %} {{ test_plan.pk }}" />
	</div>
</div>
<div id="id_tree_container" data-param="{{ test_plan.pk }}">
	<div class="ajax_loading"></div>
</div>
