<a href="{% url "plan-text_history" test_plan.plan_id %}" class="historylink right-action">
	View edit history
</a>
<div class="listinfo_doc_content">
	{% if test_plan.latest_text %}
	<div id="display_summary_short" style="display:none">
		<div>{{ test_plan.latest_text.plan_text|striptags|truncatewords:"5" }}
			<a id="id_link_show_more" href="javascript:showMoreSummary()" class="uncollapselink">more ..</a>
		</div>
	</div>
	<div class="listinfo_doc">
		<span class="title">Version:</span><span class='left_float'>{{ test_plan.latest_text.plan_text_version }}</span>
	</div>
	<div class='clear'></div>
	<div class="listinfo_doc">
		<span class="title">Last Editor:</span>
                <a href="{% url "tcms-profile" test_plan.latest_text.author.username %}">{{ test_plan.latest_text.author.username }}</a>
	</div>
	<div id="display_summary" class="listinfo_doc">
		<div class="title">Summary:</div>
		<div class="summary">{{ test_plan.latest_text.plan_text|safe }}</div>
	</div>
	{% else %}
	<div id="display_summary" class="listinfo_doc">
		<div class="title">Summary:</div>
		<span style="color: #666">The document for this plan hasn't been written yet.</span>
	</div>
	{% endif %}
	<div class="clear"></div>
</div>
