{% extends "tcms_base.html" %}
{% load static %}
{% block subtitle %}Plan History{% endblock %}

{% block custom_stylesheet %}
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{% static 'js/testplan_actions.js' %}"></script>
{% endblock %}

{% block content_type %}
	<input type="hidden" name="content_type" value="testplans.testplan" />
	<input type="hidden" name="object_pk" value="{{ testplan.pk }}" />
	<input type="hidden" name="name" value="{{ testplan.name }}" />
{% endblock %}

{% block contents %}
<div id="content">
	<div class="sprites crumble">
		<a href="{% url "core-views-index" %}">Home</a>
		>> <a href="{% url "plans-all" %}">Planning</a>
		>> <a href="{{ testplan.get_full_url }}">{{ testplan.plan_id }}: {{ testplan.name }}</a>
		>> Edit History
	</div>
	<h2>{{ testplan.name }}</h2>
	<div class="Detailform border-1" >
	<table cellpadding="0" cellspacing="0" class="list">
		<tr class="titlelink">
			<th width="5%">Text Version</th>
			<th width="12%">Modified Date</th>
			<th width="15%">Changed By</th>
			<th width="78%">Document Preview</th>
		</tr>
		{% for plan_text in test_plan_texts %}
		<tr class="{% cycle 'even' 'odd' %}">
			<td><a href="{% url "plan-text_history" testplan.plan_id %}?id={{ plan_text.pk }}">{{ forloop.revcounter }}</a></td>
			<td>{{ plan_text.create_date }}</td>
			<td><a href="{% url "tcms-profile" plan_text.author.username %}">{{ plan_text.author.username }}</a></td>
			<td>
				{{ plan_text.plan_text|striptags|truncatewords:"10" }}
			</td>
		</tr>
		{% if plan_text.pk == selected_text_version %}
		<tr class="hide">
			<td>
			<td colspan="3">
					<div class="content-wrap">
					{{ plan_text.plan_text|safe }}
					</div>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	</div>
</div>
{% endblock %}
