{% for test_run in test_runs %}
<tr class="{% cycle 'odd' 'even' %}" id="run_{{test_run.run_id}}">
	<td><input type="checkbox" class="run_selector" name="run" value="{{ test_run.pk }}"/></td>
	<td	 valign="top">
		<a href="{% url "run-get" test_run.run_id %}?from_plan={{ test_plan.plan_id }}">{{ test_run.run_id }}</a>
	</td>
	<td valign="top" class="subject">
		<a href="{% url "run-get" test_run.run_id %}?from_plan={{ test_plan.plan_id }}">{{ test_run.summary }}</a>
	</td>
	<td valign="top"><a href="{% url "user-profile" test_run.manager.username %}">{{ test_run.manager }}</a></td>
	<td valign="top">{% if test_run.default_tester_id %}<a href="{% url "user-profile" test_run.default_tester.username %}">{{ test_run.default_tester }}</a>{% else%} None{% endif %}</td>
	<td valign="top">{{ test_run.start_date }}</td>
	<td valign="top">{{ test_run.build }}</td>
	<td valign="top">{% if test_run.stop_date %}Finished{% else %}Running{% endif %}</td>
	<td valign="top" align='center'>{{ test_run.total_num_caseruns|default:"0" }}</td>
	<td valign="top" class="failed_case_run_percent">
		<a href="#statistics" class="btn-statistics" run="{{test_run.run_id}}" status="failed_case_run_percent">calculate</a>
		<div class="progress-bar" style="width:100px; display:none;">
			<div class="percent"></div>
			<div class="progress-failed"></div>
		</div>
	</td>
	<td valign="top" class="passed_case_run_percent">
		<a href="#statistics" class="btn-statistics" run="{{test_run.run_id}}" status="passed_case_run_percent">calculate</a>
		<div class="progress-bar" style="width:100px; display:none;">
			<div class="percent"></div>
			<div class="progress-inner"></div>
		</div>
	</td>
</tr>
{% empty %}
<tr>
	<td colspan="9">
		{% if perms.testruns.add_testrun %}
		<span class="prompt-message"><center >No Test Run was found in this plan, if you  want to create one ,go to <a href="{% url "run-new" %}?from_plan={{ test_plan.plan_id }}">Create Test Run</a>.</center></span>
		{% else %}
		<span class="prompt-message"><center >No Test Run was found in this plan.</center></span>
		{% endif %}
	</td>
</tr>
{% endfor %}