{% extends "tcms_base.html" %}

{% block subtitle %}Test plan{% endblock %}

{% block custom_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/print.css" media="print" />
    <style>
        #tab_testcases{ padding-left:5px;}
        #tab_testruns {padding-left:5px;}
    </style>
{% endblock %}

{% block contents %}

<div id="content">
    <div class="sprites crumble">
        <a href="{% url "nitrate-index" %}">Home</a>
        >> <a href="{% url "plans-all" %}">Planning</a> 
        >> <a href="{{ test_plan.get_absolute_url }}">{{ testplan.plan_id }}: {{ testplan.title }}</a>
        >> Report
    </div>
    <table border="0" class="itemList" cellpadding="0" cellspacing="0">
        {# Render table headings: #}
        <th >{{report.yAxis.desc}} / {{report.xAxis.desc}}</th>
        {% for colHeading in report.column_headings %}
        <th>{{colHeading|safe}}</th>
        {% endfor %}


        {# Render table rows: #}
        {% for html_row in report.html_rows %}
        <tr>
            {% for html_cell in html_row %}
            <td>{{ html_cell|safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    {#{{ table_html }}#}

</div>

{% endblock %}
