{% extends "admin/base_site.html" %}
{% load admin_list i18n %}

{% block stylesheet %}{{ STATIC_URL }}admin/css/changelists.css{% endblock %}
{% block custom_stylesheet %}
{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; <a href="../">{{ app_label|capfirst }}</a> &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}</div>{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}

{% block contents %}
<div id="content-main">

    <div class="sprites crumble">
        <a href="{% url "tcms.core.views.index" %}">Home</a>
        >> <a href="/admin/">Admin</a>
        >>{{ title }}
    </div>

<div class="module{% if cl.has_filters %} filtered{% endif %} wrap" id="changelist">
{% block search %}{% search_form cl %}{% endblock %}
{% block object-tools %}
{% if has_add_permission %}
<h2>{% block subtitle %}{{ title }}{% endblock %}</h2>
<ul class="object-tools">
    <li>
        <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

{% block filters %}
{% if cl.has_filters %}
<div id="changelist-filter">
<h2>{% trans 'Filter' %}</h2>
{% for spec in cl.filter_specs %}
   {% admin_list_filter cl spec %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
{% block pagination %}{% pagination cl %}{% endblock %}
<div class="Admin_Detailform">
{% block result_list %}{% result_list cl %}{% endblock %}
</div>

</div>
</div>
{% endblock %}
