{% extends "tcms_base.html" %}

{% block subtitle %}Environment properties{% endblock %}

{% block custom_stylesheet %}

{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/management_actions.js"></script>
<script type="text/javascript">
	Nitrate.Management.Environment.Property.Param = {
		'add_property': '{% url "management-env-properties" %}',
		'edit_property': '{% url "management-env-properties" %}',
		'del_property': '{% url "management-env-properties" %}',
		'modify_property': '{% url "management-env-properties" %}',
		'list_property_values': '{% url "management-env-properties-values" %}',
		'add_property_value': '{% url "management-env-properties-values" %}'
	};
	Nitrate.Utils.after_page_load(Nitrate.Management.Environment.Property.on_load);
</script>
{% endblock %}

{% block contents %}
<div id="content">
	<div class="sprites crumble">
		<a href="{% url "nitrate-index" %}">Home</a>
		>> <a href="{% url "management-env-groups" %}">Environment groups</a>
		>> Environment Properties
	</div>
	<h2>Environment Properties</h2>
	<div id="message" class="successlink ">{{ message }}</div>
	<div class="Detailform border-1" style="float:left;margin-left:1%">
	<fielset>
		<form id="id_property_form">
			<div class="env-list-side manage ">
				<div class="mixbar">
				<span class="tit">Properties</span>
				<span class="right-action">
					{% if perms.management.add_tcmsenvproperty %}
					<a id="js-add-prop" class="addlink" href="#">Add</a>
					{% endif %}
					{% if perms.management.change_tcmsenvproperty %}
					<a id="js-disable-prop" class="disablelink" href="#">Disable</a>
					<a id="js-enable-prop" class="enablelink" href="#">Enable</a>
					{% endif %}
				</span>
				</div>
				<ul class="groupul" id="id_properties_container">
					{% for property in properties %}
					<li id="id_property_{{ property.id }}" data-param="{{ property.id }}"  class="{% cycle 'even' 'odd'} js-one-prop">
						<span class="lab" style="float:left; width:50%;">
							<input type="checkbox" name="id" value="{{ property.id }}">
							<a id="id_property_name_{{ property.id }}" class="{% if property.is_active %}{% else %}line-through{% endif %} js-prop-name" >{{ property.name }}</a>
						</span>
						{% if perms.management.change_tcmsenvproperty %}
						<div class="right-action" >
							<a class="editlink js-edit-prop" href="#" >Rename</a>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		</form>
	</fielset>
	<fielset>
		<div class="env-list-side" id="id_values_container">
		</div>
	</fielset>
	</div>
</div>
</div>
{% verbatim %}
	<script id="properties_container_template" type="text/x-handlebars-template">
		<li id="id_property_{{ id }}" data-param="{{ id }}">
			<input type="checkbox">
			<a id="id_property_name_{{ id }}" class="js-prop-name" >{{ name }}</a>
			<span class="right-action">
			<a class="editlink js-rename-prop">Rename</a>
		</li>
	</script>
{% endverbatim %}

{% endblock %}
